/* Add any custom styles here */
.my-image {
    height: 400px;
    width: 500px;
    /* width: 75%;
    height: 75%; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    display: 'flex';
    justify-content:'center';
    align-items:'center';
    height: '100vh'; */
}
.left-column {
    height: 600px;
    width: 800px;
}

.data-table{
    /* background-color: #1E1F25; */
    border-radius: 20px;
    height: 400px;
    width: 600px;
    padding: 0 10px 10px 10px;
    overflow: scroll;
}

Table thead{
    position: sticky;
    top: 0px;
    margin: 0 0 0 0;
    background-color: #ECF0F1; 
}